<% content_for :header do %>

<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        All pending requests
      </h1>
          <%= link_to 'Pending', requests_path(@books), class: "myposts" %>
        <%= link_to 'Approved', approved_path(@books), class: "myposts" %>
        <%= link_to 'Rejected', rejected_path(@books), class: "myposts" %>

    </div>
  </div>
</section>

<div class="book-index-grid pt4">
  <% i=0 %>
  <% @books.each do |book| %>
  <% if book.requested == true %>

    <div class="book border-light">
      <div class="book-thumb">
        <div id="myCarousel-<%= i %>" class="carousel slide" data-ride="carousel">


            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <%= link_to image_tag(book.images[0]), book %>
              </div>
              <% (1...book.images.count).each do |image| %>
              <div class="item">
                  <%= link_to image_tag(book.thumbnail(image)), book%>
              </div>
              <% end %>



            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel-<%= i %>" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel-<%= i %>" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
            <% i+=1 %>
          </div>


      </div>
      <div class="pa3">
           <h3 class="fw7 f4 title"><%= link_to book.title, book %></h3>
           <p class="has-text-gray fg pt1">Author: <%= book.author if book.author%></p>
           <p class="has-text-gray fg pt1">Requested By: <%= book.requested_by%></p><br>
           <p class="has-text-gray fg pt1">Qty: <%= book.quantity%></p><br>
      <%= link_to 'Approve', update_status_approved_book_path(book), class: "button is-small", method: :patch %>
      <%= link_to 'Reject', update_status_rejected_book_path(book), class: "button is-small", method: :patch %>

    </div>
  </div>
  <% end %>
  <% end %>
</div>
<% end %>
